[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
numpy = "*"
opencv-python-headless = "*"
tpk4128 = {path = "./../tpk4128-industrial-mechatronics"}

[requires]
python_version = "3.8"
